@charset "UTF-8";
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
a {
  text-decoration: none;
  color: black; }

.container-fluid {
  max-width: 100%;
  min-width: 315px;
  height: auto;
  padding: 0;
  margin: 0; }
  .container-fluid header {
    max-width: 100%;
    width: 100%;
    height: auto;
    top: 0; }
    .container-fluid header .navigation-wrapper-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: space-around;
      -ms-flex-pack: space-around;
      justify-content: space-around;
      border-top: 3px solid #0096d8;
      background: #fff;
      border-bottom: 1px solid #28a6bf;
      padding: 20px;
      width: 100%; }
      .container-fluid header .navigation-wrapper-container .container-link-img-home-page .link-img-home-page img {
        width: 250px;
        height: auto; }
      .container-fluid header .navigation-wrapper-container .nav-header ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
        padding: 0; }
        .container-fluid header .navigation-wrapper-container .nav-header ul li {
          list-style: none;
          background: url("../img/favicon.png");
          background-size: 15px 15px;
          background-repeat: no-repeat;
          background-position: left;
          background-position-y: 5px;
          padding: 0 10px 0 20px;
          margin: 4px 0;
          font-size: 20px;
          line-height: 1.3;
          font-weight: 500;
          font-family: "Montserrat Regular", sans-serif;
          text-align: center; }
          .container-fluid header .navigation-wrapper-container .nav-header ul li .hvr-underline-from-center {
            display: inline-block;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            position: relative;
            overflow: hidden; }
          .container-fluid header .navigation-wrapper-container .nav-header ul li .hvr-underline-from-center:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 51%;
            right: 51%;
            bottom: 0;
            background: #2098D1;
            height: 4px;
            -webkit-transition-property: left, right;
            -o-transition-property: left, right;
            transition-property: left, right;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
          .container-fluid header .navigation-wrapper-container .nav-header ul li .hvr-underline-from-center:hover:before, .container-fluid header .navigation-wrapper-container .nav-header ul li .hvr-underline-from-center:focus:before, .container-fluid header .navigation-wrapper-container .nav-header ul li .hvr-underline-from-center:active:before {
            left: 0;
            right: 0; }
          .container-fluid header .navigation-wrapper-container .nav-header ul li a {
            width: -moz-max-content;
            width: max-content; }
          .container-fluid header .navigation-wrapper-container .nav-header ul li a:hover {
            cursor: pointer;
            text-decoration: none;
            color: black; }
      .container-fluid header .navigation-wrapper-container .container-main-btn .main-btn {
        background: #dc3545;
        width: 180px;
        height: auto;
        line-height: 1.5;
        border-radius: .9rem;
        margin: 0;
        font-weight: 700;
        font-family: "Montserrat Regular", sans-serif; }
      .container-fluid header .navigation-wrapper-container .contact {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .container-fluid header .navigation-wrapper-container .contact .phone-number-header-container .hvr-buzz-out {
          font-size: 1.2em;
          font-family: "Montserrat Regular", sans-serif; }
        .container-fluid header .navigation-wrapper-container .contact .phone-number-header-container .hvr-buzz-out:hover {
          text-shadow: 0px 0px 0px white, 0 0 10px #00427b;
          /* ╨Я╨░╤А╨░╨╝╨╡╤В╤А╤Л ╤В╨╡╨╜╨╕ */
          text-decoration: none;
          color: black; }
        .container-fluid header .navigation-wrapper-container .contact p {
          padding: 0;
          margin: 5px 0;
          font-family: "Montserrat Regular", sans-serif; }
        .container-fluid header .navigation-wrapper-container .contact .mail-header-container .hvr-pulse-grow {
          font-size: 1em;
          font-family: "Montserrat Regular", sans-serif; }
        .container-fluid header .navigation-wrapper-container .contact .mail-header-container .hvr-pulse-grow:hover {
          text-shadow: 0px 0px 0px white, 0 0 10px #00427b;
          /* ╨Я╨░╤А╨░╨╝╨╡╤В╤А╤Л ╤В╨╡╨╜╨╕ */
          text-decoration: none;
          color: black; }
  .container-fluid main {
    width: 100%; }
    .container-fluid main section {
      max-width: 1920px;
      margin: 0 auto; }
    .container-fluid main .corousel_container {
      width: 100%;
      max-width: 1920px;
      margin: 0 auto; }
      .container-fluid main .corousel_container .carousel {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto; }
        .container-fluid main .corousel_container .carousel .carousel-item .carousel-caption {
          top: 35%;
          bottom: 35%;
          background: rgba(255, 255, 255, 0.75);
          padding: 5px; }
          .container-fluid main .corousel_container .carousel .carousel-item .carousel-caption p {
            font-weight: 400;
            color: black;
            font-size: 18px;
            letter-spacing: 0.5px;
            text-align: center;
            font-family: "Open Sans", sans-serif;
            margin: 20px 0 0 0;
            font-size: 40px;
            color: black; }
        .container-fluid main .corousel_container .carousel .carousel-item img {
          max-height: 600px;
          height: auto; }
    .container-fluid main .our-services-container {
      max-width: 1200px;
      width: 100%;
      display: -ms-grid;
      display: grid;
      padding: 50px 0;
      grid-row-gap: 50px;
      -ms-grid-columns: auto 50px auto;
      grid-template-columns: auto auto;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "our-service-title our-service-title" "our-service-1 our-service-1" "our-service-2 our-service-2" "our-service-3 our-service-3" "our-service-4 our-service-4"; }
      .container-fluid main .our-services-container .our-service-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: our-service-title;
        text-align: center;
        text-transform: uppercase;
        text-align: center;
        color: black;
        font-weight: 400;
        font-size: 35px; }
      .container-fluid main .our-services-container .our-service-title:before {
        content: '';
        background: #000;
        width: 200px;
        height: 2px;
        position: absolute;
        margin: 21px 0 0 -225px; }
      .container-fluid main .our-services-container .our-service-title:after {
        content: '';
        background: #000;
        width: 200px;
        height: 2px;
        position: absolute;
        margin: 21px 0 0 24px; }
      .container-fluid main .our-services-container .our-service-1 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: our-service-1;
        display: -ms-grid;
        display: grid;
        grid-column-gap: 50px;
        grid-template-areas: "views-field-field-service-icon container-info-text"; }
        .container-fluid main .our-services-container .our-service-1 .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
          grid-area: views-field-field-service-icon;
          max-width: 600px;
          width: 100%;
          height: 300px; }
          .container-fluid main .our-services-container .our-service-1 .views-field-field-service-icon img {
            width: 100%;
            height: 100%; }
        .container-fluid main .our-services-container .our-service-1 .our-service-2 > .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 3; }
        .container-fluid main .our-services-container .our-service-1 .our-service-3 > .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
        .container-fluid main .our-services-container .our-service-1 .our-service-4 > .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 3; }
        .container-fluid main .our-services-container .our-service-1 .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 3;
          max-width: 600px;
          height: 300px;
          width: 100%;
          grid-area: container-info-text;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          justify-content: space-around;
          text-align: center; }
          .container-fluid main .our-services-container .our-service-1 .container-info-text h2 {
            font-weight: 400;
            color: #0096d8;
            font-size: 25px;
            text-align: center;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase; }
          .container-fluid main .our-services-container .our-service-1 .container-info-text p {
            font-weight: 400;
            color: black;
            font-size: 18px;
            letter-spacing: 0.5px;
            text-align: center;
            font-family: "Open Sans", sans-serif; }
        .container-fluid main .our-services-container .our-service-1 .our-service-2 > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
        .container-fluid main .our-services-container .our-service-1 .our-service-3 > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 3; }
        .container-fluid main .our-services-container .our-service-1 .our-service-4 > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
        .container-fluid main .our-services-container .our-service-1 .our-service > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
      .container-fluid main .our-services-container .our-service-2 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: our-service-2;
        display: -ms-grid;
        display: grid;
        grid-column-gap: 50px;
        grid-template-areas: "container-info-text views-field-field-service-icon"; }
        .container-fluid main .our-services-container .our-service-2 .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
          grid-area: views-field-field-service-icon;
          max-width: 600px;
          width: 100%;
          height: 300px; }
          .container-fluid main .our-services-container .our-service-2 .views-field-field-service-icon img {
            width: 100%;
            height: 100%; }
        .container-fluid main .our-services-container .our-service-2 .our-service-2 > .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 3; }
        .container-fluid main .our-services-container .our-service-2 .our-service-3 > .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
        .container-fluid main .our-services-container .our-service-2 .our-service-4 > .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 3; }
        .container-fluid main .our-services-container .our-service-2 .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 3;
          max-width: 600px;
          height: 300px;
          width: 100%;
          grid-area: container-info-text;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          justify-content: space-around;
          text-align: center; }
          .container-fluid main .our-services-container .our-service-2 .container-info-text h2 {
            font-weight: 400;
            color: #0096d8;
            font-size: 25px;
            text-align: center;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase; }
          .container-fluid main .our-services-container .our-service-2 .container-info-text p {
            font-weight: 400;
            color: black;
            font-size: 18px;
            letter-spacing: 0.5px;
            text-align: center;
            font-family: "Open Sans", sans-serif; }
        .container-fluid main .our-services-container .our-service-2 .our-service-2 > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
        .container-fluid main .our-services-container .our-service-2 .our-service-3 > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 3; }
        .container-fluid main .our-services-container .our-service-2 .our-service-4 > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
        .container-fluid main .our-services-container .our-service-2 .our-service > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
      .container-fluid main .our-services-container .our-service-3 {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: our-service-3;
        display: -ms-grid;
        display: grid;
        grid-column-gap: 50px;
        grid-template-areas: "views-field-field-service-icon container-info-text"; }
        .container-fluid main .our-services-container .our-service-3 .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
          grid-area: views-field-field-service-icon;
          max-width: 600px;
          width: 100%;
          height: 300px; }
          .container-fluid main .our-services-container .our-service-3 .views-field-field-service-icon img {
            width: 100%;
            height: 100%; }
        .container-fluid main .our-services-container .our-service-3 .our-service-2 > .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 3; }
        .container-fluid main .our-services-container .our-service-3 .our-service-3 > .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
        .container-fluid main .our-services-container .our-service-3 .our-service-4 > .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 3; }
        .container-fluid main .our-services-container .our-service-3 .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 3;
          max-width: 600px;
          height: 300px;
          width: 100%;
          grid-area: container-info-text;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          justify-content: space-around;
          text-align: center; }
          .container-fluid main .our-services-container .our-service-3 .container-info-text h2 {
            font-weight: 400;
            color: #0096d8;
            font-size: 25px;
            text-align: center;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase; }
          .container-fluid main .our-services-container .our-service-3 .container-info-text p {
            font-weight: 400;
            color: black;
            font-size: 18px;
            letter-spacing: 0.5px;
            text-align: center;
            font-family: "Open Sans", sans-serif; }
        .container-fluid main .our-services-container .our-service-3 .our-service-2 > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
        .container-fluid main .our-services-container .our-service-3 .our-service-3 > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 3; }
        .container-fluid main .our-services-container .our-service-3 .our-service-4 > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
        .container-fluid main .our-services-container .our-service-3 .our-service > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
      .container-fluid main .our-services-container .our-service-4 {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: our-service-4;
        display: -ms-grid;
        display: grid;
        grid-column-gap: 50px;
        grid-template-areas: "container-info-text views-field-field-service-icon"; }
        .container-fluid main .our-services-container .our-service-4 .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
          grid-area: views-field-field-service-icon;
          max-width: 600px;
          width: 100%;
          height: 300px; }
          .container-fluid main .our-services-container .our-service-4 .views-field-field-service-icon img {
            width: 100%;
            height: 100%; }
        .container-fluid main .our-services-container .our-service-4 .our-service-2 > .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 3; }
        .container-fluid main .our-services-container .our-service-4 .our-service-3 > .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
        .container-fluid main .our-services-container .our-service-4 .our-service-4 > .views-field-field-service-icon {
          -ms-grid-row: 1;
          -ms-grid-column: 3; }
        .container-fluid main .our-services-container .our-service-4 .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 3;
          max-width: 600px;
          height: 300px;
          width: 100%;
          grid-area: container-info-text;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          justify-content: space-around;
          text-align: center; }
          .container-fluid main .our-services-container .our-service-4 .container-info-text h2 {
            font-weight: 400;
            color: #0096d8;
            font-size: 25px;
            text-align: center;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase; }
          .container-fluid main .our-services-container .our-service-4 .container-info-text p {
            font-weight: 400;
            color: black;
            font-size: 18px;
            letter-spacing: 0.5px;
            text-align: center;
            font-family: "Open Sans", sans-serif; }
        .container-fluid main .our-services-container .our-service-4 .our-service-2 > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
        .container-fluid main .our-services-container .our-service-4 .our-service-3 > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 3; }
        .container-fluid main .our-services-container .our-service-4 .our-service-4 > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
        .container-fluid main .our-services-container .our-service-4 .our-service > .container-info-text {
          -ms-grid-row: 1;
          -ms-grid-column: 1; }
    .container-fluid main .company-info {
      width: 100%;
      max-width: 1920px;
      background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/us.jpg");
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/us.jpg");
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/us.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 100px 25px;
      margin: 0 auto;
      text-align: center;
      color: #fff; }
      .container-fluid main .company-info h2 {
        font-weight: 400;
        color: #0096d8;
        font-size: 25px;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        text-transform: uppercase;
        color: white; }
      .container-fluid main .company-info h2:before {
        content: '';
        background: #fff;
        width: 200px;
        height: 2px;
        position: absolute;
        margin: 16px 0 0 -225px; }
      .container-fluid main .company-info h2:after {
        content: '';
        background: #fff;
        width: 200px;
        height: 2px;
        position: absolute;
        margin: 16px 0 0 24px; }
      .container-fluid main .company-info p {
        font-weight: 400;
        color: black;
        font-size: 18px;
        letter-spacing: 0.5px;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        color: white;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto; }
    .container-fluid main .documents-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 35px 0; }
      .container-fluid main .documents-container .documents-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: space-around;
        -ms-flex-pack: space-around;
        justify-content: space-around;
        max-width: 1200px;
        width: 100%; }
        .container-fluid main .documents-container .documents-content figure {
          width: 33%;
          height: -webkit-max-content;
          height: -moz-max-content;
          height: max-content;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin: 15px 0; }
          .container-fluid main .documents-container .documents-content figure a :hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition: 1.2s;
            -o-transition: 1.2s;
            transition: 1.2s; }
          .container-fluid main .documents-container .documents-content figure a img {
            width: 125px;
            height: 190px;
            -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2); }
          .container-fluid main .documents-container .documents-content figure .title-docks {
            margin: 0 0 0 20px;
            color: #0096d8;
            font-size: 16px;
            text-align: center;
            font-weight: 400;
            font-family: "Open Sans", sans-serif; }
          .container-fluid main .documents-container .documents-content figure .title-docks:hover {
            text-decoration: none;
            color: #003062; }
  .container-fluid footer {
    width: 100%;
    background: #186689;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .container-fluid footer .links-footer {
      max-width: 1200px;
      width: 100%;
      display: -ms-grid;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 25px 0; }
      .container-fluid footer .links-footer article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .container-fluid footer .links-footer article h2 {
          color: white;
          margin: 0 0 25px 32px; }
        .container-fluid footer .links-footer article figure {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .container-fluid footer .links-footer article figure .container-icon-contact {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            color: white;
            text-decoration: none; }
          .container-fluid footer .links-footer article figure .container-icon-contact:hover {
            text-decoration: none; }
          .container-fluid footer .links-footer article figure .links-nav-footer {
            color: white;
            font-size: 1rem;
            width: 35px;
            height: 35px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
          .container-fluid footer .links-footer article figure figcaption a {
            font-family: "Open Sans", sans-serif;
            text-decoration: none;
            color: white; }
          .container-fluid footer .links-footer article figure figcaption a:hover {
            cursor: pointer;
            color: white;
            text-decoration: underline; }
        .container-fluid footer .links-footer article .map {
          width: 100%;
          height: 100%; }
    .container-fluid footer .copyright {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #124f6b;
      color: #a0aab0;
      padding: 25px 0 10px 0; }
      .container-fluid footer .copyright p {
        margin: 0; }
        .container-fluid footer .copyright p a {
          color: white;
          text-decoration: underline; }

.toTop {
  width: 50px;
  height: 50px;
  background: #828282;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 25px;
  /* ╨╛╤В╤Б╤В╤Г╨┐ ╨║╨╜╨╛╨┐╨║╨╕ ╨╛╤В ╨╜╨╕╨╢╨╜╨╡╨│╨╛ ╨║╤А╨░╤П ╤Б╤В╤А╨░╨╜╨╕╤Ж╤Л*/
  right: 25px;
  cursor: pointer;
  display: none;
  color: #333;
  font-family: Verdana;
  font-size: 11px;
  border-radius: 5px; }
  .toTop i {
    color: white;
    font-size: 35px; }

.toTop:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .toTop:hover i {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #0096d8; }

#okCookie {
  background-color: #F2F2F2;
  color: #333333;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  font-family: sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  z-index: 10; }

#okCookie p {
  margin: 0 0 10px 0;
  float: left;
  padding: 5px 0px; }

#okCookie #okClose, #okCookie #okCprivacy {
  padding: 5px 20px;
  float: right;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 3px;
  color: white; }

#okCookie #okClose {
  background-color: #39B54A;
  text-shadow: 0px 1px 1px #507F2B;
  box-shadow: inset 0px -1px 1px #507F2B; }

#okCookie #okClose:hover {
  background-color: #42ce55; }

#okCookie #okCprivacy {
  background-color: #8D9499;
  text-shadow: 0px 1px 1px #63666B;
  box-shadow: inset 0px -1px 1px #63666B; }

#okCookie #okCprivacy:hover {
  background-color: #a0a8ae; }

.okcBeginAnimate {
  -webkit-animation: myfirst 2s;
  animation: myfirst 2s; }

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Standard syntax */
@keyframes myfirst {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media (max-width: 1379.98px) {
  .container-fluid header .adaptive-grid-container .adaptive-container-link-img-home-page .link-img-home-page img {
    width: 200px; }
  .container-fluid header .adaptive-grid-container .adaptive-nav-header ul li {
    font-size: 18px; }
  .container-fluid header .adaptive-grid-container .container-main-btn .main-btn {
    width: 150px; } }
@media (max-width: 1199.98px) {
  .container-fluid header .adaptive-grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-template-areas: "adaptive-link-img-home-page adaptive-contact  adaptive-container-main-btn" " adaptive-nav-header adaptive-nav-header adaptive-nav-header "; }
    .container-fluid header .adaptive-grid-container .adaptive-link-img-home-page {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: adaptive-link-img-home-page; }
    .container-fluid header .adaptive-grid-container .adaptive-nav-header {
      -ms-grid-row: 3;
      -ms-grid-column: 2;
      grid-area: adaptive-nav-header; }
    .container-fluid header .adaptive-grid-container .adaptive-container-main-btn {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: adaptive-container-main-btn; }
    .container-fluid header .adaptive-grid-container .adaptive-contact {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto 15px auto 15px auto;
      grid-template-columns: auto auto auto;
      grid-column-gap: 15px; } }
@media (max-width: 991.98px) {
  .container-fluid header .adaptive-grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-template-areas: "adaptive-container-link-img-home-page adaptive-contact" "adaptive-container-main-btn adaptive-nav-header"; }
    .container-fluid header .adaptive-grid-container .adaptive-container-link-img-home-page {
      grid-area: adaptive-container-link-img-home-page; }
    .container-fluid header .adaptive-grid-container .adaptive-nav-header {
      grid-area: adaptive-nav-header; }
      .container-fluid header .adaptive-grid-container .adaptive-nav-header ul {
        display: -ms-grid;
        display: grid;
        grid-template-areas: "li li li";
        grid-row-gap: 10px;
        grid-column-gap: 10px; }
        .container-fluid header .adaptive-grid-container .adaptive-nav-header ul li:nth-child(1) {
          background-position-x: 70px; }
    .container-fluid header .adaptive-grid-container .adaptive-container-main-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      grid-area: adaptive-container-main-btn;
      margin: 0 auto;
      padding: 15px 0; }
    .container-fluid header .adaptive-grid-container .adaptive-contact {
      grid-area: adaptive-contact; }
  .container-fluid main .corousel_container .carousel .carousel-item .carousel-caption p {
    font-size: 30px; }
  .container-fluid main .our-services-container {
    grid-row-gap: 10px; }
    .container-fluid main .our-services-container .our-service {
      grid-column-gap: 0; }
  .container-fluid main .our-services-container .our-service .container-info-text h2 {
    font-weight: 400;
    color: #0096d8;
    font-size: 22px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase; }
  .container-fluid main .our-services-container .our-service .container-info-text p {
    font-weight: 400;
    color: black;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: "Open Sans", sans-serif; }
  .container-fluid footer .adaptive-links-footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto 10px auto;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    grid-template-areas: "adaptive-container-contacts-footer adaptive-container-quick-links-footer" "adaptive-container-map-footer adaptive-container-map-footer"; }
    .container-fluid footer .adaptive-links-footer .adaptive-container-contacts-footer {
      padding: 0 0 0 50px;
      grid-area: adaptive-container-contacts-footer; }
    .container-fluid footer .adaptive-links-footer .adaptive-container-quick-links-footer {
      padding: 0 15px 0 0;
      grid-area: adaptive-container-quick-links-footer; }
    .container-fluid footer .adaptive-links-footer .adaptive-container-map-footer {
      height: 280px;
      grid-area: adaptive-container-map-footer; }
      .container-fluid footer .adaptive-links-footer .adaptive-container-map-footer h2 {
        display: none; } }
@media (max-width: 767.98px) {
  .container-fluid header {
    position: inherit; }
    .container-fluid header .adaptive-grid-container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-row-gap: 10px;
      grid-template-areas: "adaptive-container-link-img-home-page" "adaptive-nav-header" "adaptive-contact" "adaptive-container-main-btn "; }
      .container-fluid header .adaptive-grid-container .adaptive-container-link-img-home-page {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 auto; }
      .container-fluid header .adaptive-grid-container .adaptive-nav-header ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .container-fluid header .adaptive-grid-container .adaptive-nav-header ul li:nth-child(1) {
          background-position-x: 0px; }
  .container-fluid main {
    margin: 0; }
    .container-fluid main .corousel_container {
      display: none; }
    .container-fluid main .our-services-container {
      grid-row-gap: 10px; }
      .container-fluid main .our-services-container .our-service-title:before {
        display: none; }
      .container-fluid main .our-services-container .our-service-title:after {
        display: none; }
      .container-fluid main .our-services-container .our-service {
        grid-template-areas: "container-info-text";
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .container-fluid main .our-services-container .our-service .views-field-field-service-icon {
        display: none; }
      .container-fluid main .our-services-container .our-service .container-info-text {
        padding: 0 10px; }
    .container-fluid main .company-info h2:before {
      display: none; }
    .container-fluid main .company-info h2:after {
      display: none; }
    .container-fluid main .documents-container .documents-content figure {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 15px; } }
@media (max-width: 575.98px) {
  .container-fluid header {
    position: inherit; }
    .container-fluid header .adaptive-grid-container .adaptive-contact {
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-row-gap: 10px; }
      .container-fluid header .adaptive-grid-container .adaptive-contact p {
        margin: 5px 0; }
  .container-fluid main {
    margin: 0; }
    .container-fluid main .corousel_container {
      display: none; }
    .container-fluid main .documents-container .documents-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .container-fluid main .documents-container .documents-content figure {
        width: 100%;
        margin: 15px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .container-fluid main .documents-container .documents-content figure .title-docks {
          margin: 15px 0; }
  .container-fluid footer .adaptive-links-footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-template-areas: "adaptive-container-quick-links-footer" "adaptive-container-contacts-footer" "adaptive-container-map-footer"; }
    .container-fluid footer .adaptive-links-footer .adaptive-container-contacts-footer {
      padding: 0 0 0 5px;
      grid-area: adaptive-container-contacts-footer; }
    .container-fluid footer .adaptive-links-footer .adaptive-container-quick-links-footer {
      padding: 0 0 0 5px;
      grid-area: adaptive-container-quick-links-footer; }
    .container-fluid footer .adaptive-links-footer .adaptive-container-map-footer {
      height: 280px;
      grid-area: adaptive-container-map-footer; }
      .container-fluid footer .adaptive-links-footer .adaptive-container-map-footer h2 {
        display: none; }
  .container-fluid footer .copyright p {
    text-align: center; } }
@media (max-width: 419.98px) {
  .container-fluid main .our-services-container {
    grid-row-gap: 100px; } }

/*# sourceMappingURL=style.css.map */
