a {
  text-decoration: none;
  color: black;
}
$blue: #0096d8;
$aquamarine: #28a6bf;
$foterbg: #186689;
$bgheader: #fff;
@mixin hvr-float-shadow{
  .hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
}
@mixin fonttitle{
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-weight: 400;
  font-size: 35px;
}
@mixin fontourserviceP {
  font-weight: 400;
  color: black;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}
@mixin fontourserviceH2 {
  font-weight: 400;
  color: $blue;
  font-size: 25px;
  text-align: center;
}
@mixin fonttitledoc{
  color: $blue;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}
@mixin flex-col-justcent{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin flex-col-cen{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@mixin flex-col-cen-cen{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin flex-row-cen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@mixin flex-row-cen-cen{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin  flex-col-start{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.container-fluid {
  max-width: 100%;
  min-width: 315px;
  height: auto;
  padding: 0;
  margin: 0;
  header{
    max-width: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;
    top: 0;
    .navigation-wrapper-container{
      @include flex-row-cen;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      border-top: 3px solid $blue;
      background: $bgheader;
      border-bottom: 1px solid $aquamarine;
      padding: 20px;
      width: 100%;
      .link-img-home-page{
        img {
          width: 250px;
          height: auto;
        }
      }
      /*.navigation-wrapper{
        @include flex-row-cen-cen;
        .nav-pills {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          img {
            width: 15px;
            height: 15px;
          }
        }
      }*/
      .hvr-underline-from-center {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
      }
      .hvr-underline-from-center:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: #2098D1;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
        left: 0;
        right: 0;
      }
      .contact{
        @include flex-col-cen-cen;
        .phone-number-header-container{
          @-webkit-keyframes hvr-buzz-out {
            10% {
              -webkit-transform: translateX(3px) rotate(2deg);
              transform: translateX(3px) rotate(2deg);
            }
            20% {
              -webkit-transform: translateX(-3px) rotate(-2deg);
              transform: translateX(-3px) rotate(-2deg);
            }
            30% {
              -webkit-transform: translateX(3px) rotate(2deg);
              transform: translateX(3px) rotate(2deg);
            }
            40% {
              -webkit-transform: translateX(-3px) rotate(-2deg);
              transform: translateX(-3px) rotate(-2deg);
            }
            50% {
              -webkit-transform: translateX(2px) rotate(1deg);
              transform: translateX(2px) rotate(1deg);
            }
            60% {
              -webkit-transform: translateX(-2px) rotate(-1deg);
              transform: translateX(-2px) rotate(-1deg);
            }
            70% {
              -webkit-transform: translateX(2px) rotate(1deg);
              transform: translateX(2px) rotate(1deg);
            }
            80% {
              -webkit-transform: translateX(-2px) rotate(-1deg);
              transform: translateX(-2px) rotate(-1deg);
            }
            90% {
              -webkit-transform: translateX(1px) rotate(0);
              transform: translateX(1px) rotate(0);
            }
            100% {
              -webkit-transform: translateX(-1px) rotate(0);
              transform: translateX(-1px) rotate(0);
            }
          }
            @keyframes hvr-buzz-out {
              10% {
                -webkit-transform: translateX(3px) rotate(2deg);
                transform: translateX(3px) rotate(2deg);
              }
              20% {
                -webkit-transform: translateX(-3px) rotate(-2deg);
                transform: translateX(-3px) rotate(-2deg);
              }
              30% {
                -webkit-transform: translateX(3px) rotate(2deg);
                transform: translateX(3px) rotate(2deg);
              }
              40% {
                -webkit-transform: translateX(-3px) rotate(-2deg);
                transform: translateX(-3px) rotate(-2deg);
              }
              50% {
                -webkit-transform: translateX(2px) rotate(1deg);
                transform: translateX(2px) rotate(1deg);
              }
              60% {
                -webkit-transform: translateX(-2px) rotate(-1deg);
                transform: translateX(-2px) rotate(-1deg);
              }
              70% {
                -webkit-transform: translateX(2px) rotate(1deg);
                transform: translateX(2px) rotate(1deg);
              }
              80% {
                -webkit-transform: translateX(-2px) rotate(-1deg);
                transform: translateX(-2px) rotate(-1deg);
              }
              90% {
                -webkit-transform: translateX(1px) rotate(0);
                transform: translateX(1px) rotate(0);
              }
              100% {
                -webkit-transform: translateX(-1px) rotate(0);
                transform: translateX(-1px) rotate(0);
              }
            }
            .hvr-buzz-out {
              display: inline-block;
              vertical-align: middle;
              -webkit-transform: perspective(1px) translateZ(0);
              transform: perspective(1px) translateZ(0);
              box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            }
            .hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
              -webkit-animation-name: hvr-buzz-out;
              animation-name: hvr-buzz-out;
              -webkit-animation-duration: 0.75s;
              animation-duration: 0.75s;
              -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
              -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
            }
        }
        p {
          padding: 0;
          margin: 0;
        }
        .mail-header-container {
          @-webkit-keyframes hvr-pulse-grow {
            to {
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
            }
          }
          @keyframes hvr-pulse-grow {
            to {
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
            }
          }
          .hvr-pulse-grow {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          }
          .hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
            -webkit-animation-name: hvr-pulse-grow;
            animation-name: hvr-pulse-grow;
            -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
          }
        }
      }
    }
  }
  main{
    margin: 115px 0 0 0;
    width: 100%;
    section{
      max-width: 1920px;
      margin: 0 auto;
    }
    .corousel_container {
      width: 100%;
      max-width: 1920px;
      margin: 0 auto;
      .carousel {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        .carousel-item img {
          max-height: 700px;
          height: auto;
        }
      }
    }
    .our-services-container{
      @include flex-col-cen-cen;
      max-width: 1920px;
      width: 100%;
      margin: 0 auto;
      .our-service-title{
        margin: 35px 0;
        @include fonttitle;
      }
      .our-service{
        margin: 25px 0;
        max-width: 1200px;
        .views-field-field-service-icon{
          width: 100px;
          height: 100px;
          border-radius: 50px;
          @include flex-col-cen-cen;
          background: white;
          margin-top: -46px;
        }
        @include flex-col-cen;
        h2{
          @include fontourserviceH2;
          margin: 140px 0 10px 0;
        }
        p{
          @include fontourserviceP;
        }
      }
      .our-service-1{
        background-image: url("../img/business-hero1_0.jpg");
        background-repeat: no-repeat;
        background-position: top;
      }
      .our-service-2{
        background-image: url("../img/business-hero1_0.jpg");
        background-repeat: no-repeat;
        background-position: top;
      }
      .our-service-3{
        background-image: url("../img/business-hero1_0.jpg");
        background-repeat: no-repeat;
        background-position: top;
      }
      .our-service-4{
        background-image: url("../img/business-hero1_0.jpg");
        background-repeat: no-repeat;
        background-position: top;
      }
    }
    .company-info {
      width: 100%;
      max-width: 1920px;
      background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)) ), url("../img/us.jpg");
      background-image: -o-linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/us.jpg");
      background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/us.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 100px 25px;
      margin: 0 auto;
      text-align: center;
      color: $bgheader;
      p{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
      }
    }
    .documents-container{
      @include flex-col-cen-cen;
      padding: 35px 0;
      .documents-content {
        @include flex-row-cen;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        max-width: 1200px;
        width: 100%;
        figure {
          width: 33%;
          height: -webkit-max-content;
          height: -moz-max-content;
          height: max-content;
          @include flex-row-cen;
          margin: 15px 0;
          a {
            :hover{
              -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
              transform: scale(1.1);
              -webkit-transition: 1.2s;
              -o-transition: 1.2s;
              transition: 1.2s;
            }
            img {
              width: 125px;
              height: 190px;
              -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
            }
          }
          .title-docks {
            margin: 0 0 0 20px;
            @include fonttitledoc;
          }
        }
      }
    }
  }
  footer{
    width: 100%;
    background: $foterbg;
    @include flex-col-cen-cen;
    .navigation-wrapper-container{
      @include flex-row-cen;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 15px;
      .link-img-home-page{
        img{
          width: 286px;
          height: 70px;
        }
      }
      .navigation-wrapper{
        .justify-content-center {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          img {
            width: 15px;
            height: 15px;
          }
          a{
            color: white;
          }
        }
      }
      .contact{
        @include flex-col-cen-cen;
        a{
          color: white;
        }
      }
    }
    .container-map-contact{
      max-width: 1200px;
      width: 100%;
      @include flex-row-cen;

      padding: 50px 0 25px 0;
      .block-contact{
        color: white;
        @include flex-col-start;
        width: 50%;
        height: auto;
        .phone_number-info-block{
          margin: 5px 0;
          @include flex-row-cen;
          i{
            color: darkgray;
            margin: 0 0 0 7px;
            font-size: 35px;
          }
          a {
            margin: 0 0 0 24px;
            color: white;
            text-decoration: none;
          }
          @include hvr-float-shadow;
        }
        .mail-info-block {
          margin: 5px 0;
          @include flex-row-cen;
          i {
            font-size: 35px;
            color: darkgray;
          }
          a{
            margin: 0 0 0 20px;
            color: white;
            text-decoration: none;
          }
          @include hvr-float-shadow;
        }
        .map-info-block{
          margin: 5px 0;
          @include flex-row-cen;
          i {
            font-size: 35px;
            margin: 0 15px 0 0;
            color: darkgray;
          }
          a{
            color: white;
            text-decoration: none;
          }
          @include hvr-float-shadow;
        }
        .legal-data-info-block {
          @include flex-row-cen;
          i {
            font-size: 35px;
            margin: 0 0 0 8px;
            color: darkgray;
          }
          div{
            margin: 0 0 0 19px;
            a {
              color: white;
              text-decoration: none;
            }
            @include hvr-float-shadow;
          }
        }
      }
      .map{
        width: 50%;
      }
    }
    .copyright{
      width: 100%;
      @include flex-col-cen-cen;
      background: #124f6b;
      color: #a0aab0;
      padding: 25px 0 10px 0;
      p{
        margin: 0;
        a{
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
}

// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) {
  .container-fluid {
    header {
      .navigation-wrapper-container{
        .navigation-wrapper{

        }
      }
    }
  }
}
// Средние девайсы («таблетки», < 992px)
@media (max-width: 991.98px) {}
// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
  .container-fluid{
    header{
      position: inherit;
      .navigation-wrapper-container{
        flex-direction: column;
        .navigation-wrapper{
          margin: 15px 0;
        }
      }
    }
    main {
      margin: 0;
      .documents-container{
        .documents-content {
          figure {
            width: 50%;
            @include flex-row-cen;
            margin: 15px;
          }
        }
      }
    }
    footer{
    }
  }
}
// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {
  .container-fluid{
    header{
      position: inherit;
    }
    main {
      margin: 0;
      .documents-container{
        .documents-content {
          @include flex-col-cen;
          figure {
            width: 100%;
            margin: 15px 0;
            @include flex-col-cen;
            .title-docks{
              margin: 15px 0;
            }
          }
        }
      }
    }
    footer {
      .container-map-contact{
        .block-contact, .map {
          width: 80%;
        }
        @include flex-col-cen-cen;
      }
    }
  }
}