a {
  text-decoration: none;
  color: black;
}
$blue: #0096d8;
$aquamarine: #28a6bf;
$foterbg: #186689;
$bgheader: #fff;
@mixin fonttitle{
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-weight: 400;
  font-size: 35px;
}
@mixin fontourserviceP {
  font-weight: 400;
  color: black;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}
@mixin fontourserviceH2 {
  font-weight: 400;
  color: $blue;
  font-size: 25px;
  text-align: center;
}
@mixin fonttitledoc{
  color: $blue;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}
@mixin flex-col-justcent{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin flex-col-cen{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@mixin flex-col-cen-cen{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin flex-row-cen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@mixin flex-row-cen-cen{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.container-fluid {
  max-width: 100%;
  min-width: 315px;
  height: auto;
  padding: 0;
  margin: 0;
  header{
    max-width: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;
    top: 0;
    .navigation-wrapper-container{
      @include flex-row-cen;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      border-top: 3px solid $blue;
      background: $bgheader;
      border-bottom: 1px solid $aquamarine;
      padding: 20px;
      width: 100%;
      .link-img-home-page{
      }
      .navigation-wrapper{
        .justify-content-center {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
      .contact{
        @include flex-col-cen-cen;
      }
    }
  }
  main{
    margin: 114px 0 0 0;
    width: 100%;
    section{
      max-width: 1920px;
      margin: 0 auto;
    }
    .corousel_container {
      width: 100%;
      max-width: 1920px;
      margin: 0 auto;
      .carousel {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        .carousel-item img {
          max-height: 500px;
          height: auto;
        }
      }
    }
    .our-services-container{
      @include flex-col-cen-cen;
      max-width: 1920px;
      width: 100%;
      margin: 0 auto;
      .our-service-title{
        margin: 35px 0;
        @include fonttitle;
      }
      .our-service{
        margin: 25px 0;
        max-width: 1200px;
        .views-field-field-service-icon{
          width: 100px;
          height: 100px;
          border-radius: 50px;
          @include flex-col-cen-cen;
          background: white;
          margin-top: -46px;
        }
        @include flex-col-cen;
        h2{
          @include fontourserviceH2;
          margin: 140px 0 10px 0;
        }
        p{
          @include fontourserviceP;
        }
      }
      .our-service-1{
        background-image: url("../img/business-hero1_0.jpg");
        background-repeat: no-repeat;
        background-position: top;
      }
      .our-service-2{
        background-image: url("../img/business-hero1_0.jpg");
        background-repeat: no-repeat;
        background-position: top;
      }
      .our-service-3{
        background-image: url("../img/business-hero1_0.jpg");
        background-repeat: no-repeat;
        background-position: top;
      }
      .our-service-4{
        background-image: url("../img/business-hero1_0.jpg");
        background-repeat: no-repeat;
        background-position: top;
      }
    }
    .company-info {
      width: 100%;
      max-width: 1920px;
      background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)) ), url("../img/us.jpg");
      background-image: -o-linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/us.jpg");
      background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/us.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 100px 25px;
      margin: 0 auto;
      text-align: center;
      color: $bgheader;
      p{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
      }
    }
    .documents-container{
      @include flex-col-cen-cen;
      padding: 35px 0;
      .documents-content {
        @include flex-row-cen;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        max-width: 1200px;
        width: 100%;
        figure {
          width: 33%;
          height: -webkit-max-content;
          height: -moz-max-content;
          height: max-content;
          @include flex-row-cen;
          margin: 15px 0;
          a {
            :hover{
              -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
              transform: scale(1.1);
              -webkit-transition: 1.2s;
              -o-transition: 1.2s;
              transition: 1.2s;
            }
            img {
              width: 125px;
              height: 190px;
              -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
            }
          }
          .title-docks {
            margin: 0 0 0 20px;
            @include fonttitledoc;
          }
        }
      }
    }
  }
  footer{
    width: 100%;
    background: $foterbg;
    @include flex-col-cen-cen;
    .navigation-wrapper-container{
      @include flex-row-cen;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 15px;
      .link-img-home-page{
        img{
          width: 286px;
          height: 70px;
        }
      }
      .navigation-wrapper{
        .justify-content-center {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          img {
            width: 15px;
            height: 15px;
          }
          a{
            color: white;
          }
        }
      }
      .contact{
        @include flex-col-cen-cen;
        a{
          color: white;
        }
      }
    }
    .container-map-contact{
      max-width: 1200px;
      width: 100%;
      @include flex-row-cen;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      padding: 50px 0 25px 0;
      .block-contact{
        color: white;
        @include flex-col-cen-cen;
        width: 33%;
        height: auto;
        text-align: center;
        .phone_number-container, .mail-container {
          width: 200px;
          height: 50px;
        }
        .phone_number-container, .mail-container, .map-container {
          margin: 5px 0;
          @include flex-row-cen-cen;
          .far, .fas {
            font-size: 35px;
            margin: 0 15px 0 0;
            color: darkgray;
          }
          a{
            color: white;
            text-decoration: none;
          }
          a:hover {
            color: greenyellow;
            transition: 1.2s;
          }
        }
        .legal-data-container {
          a {
            color: white;
            text-decoration: none;
          }
          a:hover {
            color: greenyellow;
            transition: 1.2s;
          }
        }
      }
      .map{
        width: 33%;
      }
    }
    .copyright{
      width: 100%;
      @include flex-col-cen-cen;
      background: #124f6b;
      color: #a0aab0;
      padding: 25px 0 10px 0;
      p{
        margin: 0;
        a{
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
}

// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) {}
// Средние девайсы («таблетки», < 992px)
@media (max-width: 991.98px) {}
// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
  .container-fluid{
    header{
      position: inherit;
      .navigation-wrapper-container{
        flex-direction: column;
        .navigation-wrapper{
          margin: 15px 0;
        }
      }
    }
    main {
      margin: 0;
      .documents-container{
        .documents-content {
          figure {
            width: 50%;
            @include flex-row-cen;
            margin: 15px;
          }
        }
      }
    }
    footer{
    }
  }
}
// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {
  .container-fluid{
    header{
      position: inherit;
    }
    main {
      margin: 0;
      .documents-container{
        .documents-content {
          @include flex-col-cen;
          figure {
            width: 100%;
            margin: 15px 0;
            @include flex-col-cen;
            .title-docks{
              margin: 15px 0;
            }
          }
        }
      }
    }
    footer {
      .container-map-contact{
        .block-contact, .map {
          width: 80%;
        }
        @include flex-col-cen-cen;
      }
    }
  }
}