$blue: #0096d8;
$aquamarine: #28a6bf;
$bgheader: #fff;
@mixin fonttitle{
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-weight: 400;
  font-size: 35px;
}
@mixin fontourserviceP {
  font-weight: 400;
  color: black;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}
@mixin fontourserviceH2 {
  font-weight: 400;
  color: $blue;
  font-size: 25px;
  text-align: center;
}
@mixin fonttitledoc{
  color: $blue;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}
@mixin flex-col-cen{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@mixin flex-col-cen-cen{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin flex-row-cen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.container-fluid {
  max-width: 100%;
  min-width: 315px;
  height: auto;
  padding: 0;
  margin: 0;
  header{
    max-width: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;
    .navigation-wrapper-container{
      @include flex-row-cen;
      justify-content: space-evenly;
      border-top: 3px solid $blue;
      background: $bgheader;
      border-bottom: 1px solid $aquamarine;
      padding: 20px;
      .link-img-home-page{
      }
      .navigation-wrapper{
        .justify-content-center {
          align-items: center;
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
      .contact{
        @include flex-col-cen-cen;
      }
    }
  }
  main{
    position: absolute;
    margin-top: 114px;
    width: 100%;

    .corousel_container {
      width: 100%;
      max-width: 1920px;
      margin: 0 auto;
    }
    .our-services-container{
      @include flex-col-cen-cen;
      max-width: 1920px;
      width: 100%;
      margin: 0 auto;
      .our-service-title{
        margin: 35px 0;
        @include fonttitle;
      }
      .our-service{
        margin: 25px 0;
        max-width: 1200px;
        .views-field-field-service-icon{
          width: 100px;
          height: 100px;
          border-radius: 50px;
          @include flex-col-cen-cen;
          background: white;
          margin-top: -46px;
        }
        @include flex-col-cen;
        h2{
          @include fontourserviceH2;
          margin: 140px 0 10px 0;
        }
        p{
          @include fontourserviceP;
        }
      }
      .our-service-1{
        background-image: url("../img/business-hero1_0.jpg");
        background-repeat: no-repeat;
        background-position: top;
      }
      .our-service-2{
        background-image: url("../img/business-hero1_0.jpg");
        background-repeat: no-repeat;
        background-position: top;
      }
      .our-service-3{
        background-image: url("../img/business-hero1_0.jpg");
        background-repeat: no-repeat;
        background-position: top;
      }
      .our-service-4{
        background-image: url("../img/business-hero1_0.jpg");
        background-repeat: no-repeat;
        background-position: top;
      }
    }
    .company-info {
      width: 100%;
      max-width: 1920px;
      background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/us.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 100px 25px;
      margin: 0 auto;
      text-align: center;
      color: $bgheader;
      p{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
      }
    }
    .documents-container{
      @include flex-row-cen;
      justify-content: space-evenly;
      figure{
        width: 350px;
        height: 281px;
        @include flex-col-cen-cen;
        margin: 15px 0;
        a{
          img{
            width: 125px;
            height: 190px;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
          }
        }
        .title-docks {
          margin: 15px 0 0 0;
          @include fonttitledoc;
        }
      }
    }
  }
  footer{}
}

// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) {}
// Средние девайсы («таблетки», < 992px)
@media (max-width: 991.98px) {}
// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
  .container-fluid{
    header{
      position: inherit;
      .navigation-wrapper-container{
        flex-direction: column;
        .navigation-wrapper{
          margin: 15px 0;
        }
      }
    }
    main {
      margin: 0;
      .corousel_container{
      }
    }
  }
}
// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {
  .container-fluid{
    header{
      position: inherit;
    }
    main{
      margin: 0;
    }
  }
}