@charset "UTF-8";
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/Myriad-Pro31655.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../fonts/Myriad-Pro-Semibold31650.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "MyriadPro-Regular", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400; }

a {
  color: black;
  text-transform: none; }

.container-fluid {
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0; }
  .container-fluid header {
    /* Style for "pole" */
    width: 100%;
    height: 72px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .container-fluid header .container-link-img-home-page {
      margin-left: 6%; }
      .container-fluid header .container-link-img-home-page img {
        /* Style for "logo" */
        width: 146px;
        height: 34px; }
    .container-fluid header .pos-f-t {
      width: inherit;
      margin-left: 5%; }
      .container-fluid header .pos-f-t .collapse {
        display: flex; }
        .container-fluid header .pos-f-t .collapse .main-meny-style {
          padding: 0 !important;
          background-color: #fff !important; }
          .container-fluid header .pos-f-t .collapse .main-meny-style nav {
            flex-wrap: nowrap; }
            .container-fluid header .pos-f-t .collapse .main-meny-style nav .nav-item {
              color: #000000;
              font-family: "MyriadPro-Regular",sans-serif;
              font-size: 12px;
              font-weight: 700;
              text-transform: uppercase;
              width: auto;
              height: auto;
              padding: 28px 0 20px 0;
              margin: 0 12px;
              border-bottom: 3px solid transparent;
              border-radius: 0; }
            .container-fluid header .pos-f-t .collapse .main-meny-style nav .nav-item:hover {
              color: #17a6bf;
              border-bottom: 3px solid #17a6bf;
              border-radius: 0; }
      .container-fluid header .pos-f-t .nav_none {
        display: none; }
    .container-fluid header .container-main-btn {
      /* Style for "knopka" */
      width: 180px;
      height: 36px;
      border-radius: 4px;
      background-color: #17a6bf;
      margin-right: 6%; }
      .container-fluid header .container-main-btn a {
        width: 100%;
        height: auto;
        background: #17a6bf;
        border: none;
        outline: none;
        text-align: center;
        padding: 12px 26px 11px 26px;
        border-radius: inherit;
        color: #ffffff;
        font-family: "MyriadPro-Semibold", sans-serif;
        font-size: 14px;
        font-weight: 700; }
      .container-fluid header .container-main-btn a:focus {
        background-color: #17a6bf !important;
        border: #17a6bf !important;
        box-shadow: none !important; }
      .container-fluid header .container-main-btn a:active {
        background-color: #17a6bf !important;
        border: #17a6bf !important;
        box-shadow: #17a6bf !important; }
  .container-fluid main {
    background-image: url("../img/bginvest.png");
    background-size: initial;
    background-position: unset;
    background-repeat: no-repeat;
    background-position-y: -65px;
    width: 100%; }
    .container-fluid main .container-content {
      width: 100%;
      padding-left: 23.2%;
      padding-top: 100px; }
      .container-fluid main .container-content .container-prizentation {
        width: 410px;
        margin-bottom: 100px; }
        .container-fluid main .container-content .container-prizentation h1 {
          /* Style for "╨Ю╨Ю╨Ю ┬л╨д╨╛╤А╨▓╨░" */
          color: #000000;
          font-size: 24px;
          font-weight: 700;
          line-height: 56px;
          text-transform: uppercase;
          margin-bottom: 23px; }
        .container-fluid main .container-content .container-prizentation p {
          /* Style for "╨д╨╕╨╜╨░╨╜╤Б╨╛╨▓╨░╤П"*/
          color: #000000;
          font-family: "MyriadPro-Regular";
          font-size: 13px;
          font-weight: 400;
          line-height: 16px; }
          .container-fluid main .container-content .container-prizentation p span {
            /* Text style for "╨д╨╕╨╜╨░╨╜╤Б╨╛╨▓╨░╤П" */
            font-family: "MyriadPro-Semibold";
            color: #000000;
            font-size: 13px;
            font-weight: 700; }
        .container-fluid main .container-content .container-prizentation .container-main-btn {
          /* Style for "knopka"*/
          width: 236px;
          height: 36px;
          border-radius: 4px;
          background-color: #17a6bf; }
          .container-fluid main .container-content .container-prizentation .container-main-btn a {
            width: 100%;
            height: auto;
            background: #17a6bf;
            border: none;
            outline: none;
            text-align: center;
            padding: 8px 20px 4px 16px;
            border-radius: inherit;
            color: #ffffff;
            font-family: "MyriadPro-Semibold", sans-serif;
            font-size: 14px;
            font-weight: 700; }
          .container-fluid main .container-content .container-prizentation .container-main-btn a:focus {
            background-color: #17a6bf !important;
            border: #17a6bf !important;
            box-shadow: none !important; }
          .container-fluid main .container-content .container-prizentation .container-main-btn a:active {
            background-color: #17a6bf !important;
            border: #17a6bf !important;
            box-shadow: #17a6bf !important; }
      .container-fluid main .container-content .container-obligation .title-block {
        border-bottom: 2px solid #17a6bf;
        max-width: 1100px;
        width: 100%;
        font-family: "MyriadPro-Regular";
        font-size: 30px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 12px; }
      .container-fluid main .container-content .container-obligation .container-sum-invest {
        display: grid;
        grid-template-columns: max-content max-content max-content;
        grid-template-rows: max-content max-content max-content;
        grid-template-areas: "sum-all-pgor sum-released container-info-form" ". sum-viplat container-info-kol";
        margin: 100px 0 0 -155px;
        grid-gap: 20px; }
        .container-fluid main .container-content .container-obligation .container-sum-invest .sum-all-pgor {
          grid-area: sum-all-pgor;
          width: fit-content;
          text-align: right; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .sum-all-pgor span {
            /* Style for "500" */
            color: #d7d7d7;
            font-family: "Formular", sans-serif;
            font-size: 100px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: -4px;
            margin: 0;
            padding: 0;
            line-height: 1;
            width: 154px;
            height: 112px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .sum-all-pgor .style-mln {
            color: #a7a9ac;
            font-family: "MyriadPro-Semibold";
            font-size: 16px;
            font-weight: 700;
            margin: 0;
            padding: 0; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .sum-all-pgor .style-ob {
            color: #a7a9ac;
            font-family: "MyriadPro-Regular";
            font-weight: 400;
            font-size: 16px;
            line-height: 1;
            margin: 0;
            padding: 0; }
        .container-fluid main .container-content .container-obligation .container-sum-invest .sum-released {
          grid-area: sum-released;
          width: fit-content;
          text-align: left; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .sum-released span {
            /* Style for "100" */
            color: #17a6bf;
            font-family: "Formular", sans-serif;
            font-size: 70px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
            line-height: 1;
            width: 154px;
            height: 112px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .sum-released .style-mln {
            /* Style for "╨╝╨╗╨╜ ╤А╤Г╨▒. ╨б" */
            font-family: "MyriadPro-Regular",sans-serif;
            font-size: 16px;
            color: #17a6bf;
            font-weight: 700;
            padding: 0;
            margin: 0; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .sum-released .style-ob {
            color: #000000;
            font-family: "MyriadPro-Regular",sans-serif;
            font-weight: 400;
            padding: 0;
            margin: 0;
            font-size: 16px;
            line-height: 1; }
        .container-fluid main .container-content .container-obligation .container-sum-invest .sum-viplat {
          grid-area: sum-viplat; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .sum-viplat span {
            /* Style for "100" */
            color: #17a6bf;
            font-family: "Formular", sans-serif;
            font-size: 70px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
            line-height: 1;
            width: 154px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .sum-viplat .style-mln {
            /* Style for "╨╝╨╗╨╜ ╤А╤Г╨▒. ╨б" */
            font-family: "MyriadPro-Regular",sans-serif;
            font-size: 16px;
            color: #17a6bf;
            font-weight: 700;
            padding: 0;
            margin: 0; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .sum-viplat .style-ob {
            /* Style for "╨│╨╛╨┤╨╛╨▓╤Л╤Е ╨а╨░" */
            color: #000000;
            font-family: "MyriadPro-Regular",sans-serif;
            font-weight: 400;
            padding: 0;
            margin: 0;
            font-size: 16px;
            line-height: 1; }
        .container-fluid main .container-content .container-obligation .container-sum-invest .container-info-form {
          grid-area: container-info-form;
          border: 1px solid #ebebeb;
          padding: 24px 10px 34px 35px;
          width: 432px; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .container-info-form h3 {
            /* Style for "╨д╨╛╤А╨╝╨░  ╨╕ ╨▓" */
            line-height: 14px;
            font-size: 18px;
            font-weight: 700;
            padding: 0;
            margin: 0;
            background-image: url("../img/form-icon.png");
            background-repeat: no-repeat;
            background-position: top left;
            background-position-x: 0px;
            display: block;
            padding-left: 35px; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .container-info-form p {
            padding: 0;
            margin: 0;
            line-height: 1;
            font-weight: 400;
            width: 175px;
            margin-left: 35px; }
        .container-fluid main .container-content .container-obligation .container-sum-invest .container-info-kol {
          grid-area: container-info-kol;
          border: 1px solid #ebebeb;
          padding: 24px 45px 35px 35px; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .container-info-kol ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0; }
            .container-fluid main .container-content .container-obligation .container-sum-invest .container-info-kol ul li h3 {
              /* Style for "1 000 ╤И╤В ╨Ъ" */
              color: #000000;
              line-height: 14px;
              font-size: 18px;
              font-weight: 700;
              margin: 0;
              padding: 0; }
            .container-fluid main .container-content .container-obligation .container-sum-invest .container-info-kol ul li p {
              /* Text style for "╨Ъ╨╛╨╗╨╕╤З╨╡╤Б╤В╨▓╨╛" */
              font-weight: 400;
              font-size: 13px;
              margin: 0;
              padding: 0; }
            .container-fluid main .container-content .container-obligation .container-sum-invest .container-info-kol ul li:first-child {
              width: 176px; }
              .container-fluid main .container-content .container-obligation .container-sum-invest .container-info-kol ul li:first-child p {
                margin-left: 35px; }
            .container-fluid main .container-content .container-obligation .container-sum-invest .container-info-kol ul li .bg-info-first {
              display: block;
              padding-left: 35px;
              background-image: url(../img/file.png);
              background-repeat: no-repeat;
              background-position: top left;
              background-position-x: 0; }
        @media all and (-ms-high-contrast: none) {
          .container-fluid main .container-content .container-obligation .container-sum-invest .grid-container {
            display: -ms-grid;
            -ms-grid-columns: 1auto 1auto;
            -ms-grid-rows: 1auto 1auto; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .sum-all-pgor {
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 1; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .sum-released {
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            -ms-grid-column: 2;
            -ms-grid-column-span: 1; }
          .container-fluid main .container-content .container-obligation .container-sum-invest .sum-viplat {
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            -ms-grid-column: 2;
            -ms-grid-column-span: 1; } }
      .container-fluid main .container-content .container-calc .title-block {
        border-bottom: 2px solid #17a6bf;
        max-width: 1100px;
        width: 100%;
        font-family: "MyriadPro-Regular";
        font-size: 30px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 12px; }
      .container-fluid main .container-content .container-osnov-sved .title-block {
        border-bottom: 2px solid #17a6bf;
        max-width: 1100px;
        width: 100%;
        font-family: "MyriadPro-Regular";
        font-size: 30px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 12px; }
    .container-fluid main .container-presscent .title-block {
      border-bottom: 2px solid #17a6bf;
      max-width: 1100px;
      width: 100%;
      font-family: "MyriadPro-Regular";
      font-size: 30px;
      font-weight: 400;
      line-height: 24px;
      padding-bottom: 12px; }

/*# sourceMappingURL=styleinvest.css.map */
